<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>angular.js</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/moon.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>
	
	<body>
		<style>
			.spisok{
				display:flex;
				justify-content: start;
				text-align: center;
			}
		</style>
		<div class="reveal">
			<div class="slides">
				
				<section>
					<section data-markdown>
						<textarea data-template>
						  <h1> <font size="8">Angular.<br> Что это и с чем его едят?</font></h1>
						  <!-- <h2> <font size="6" color="70b30f"> Быстрое создание современных веб-сайтов, не выходя из HTML-кода </font> </h2> -->
						</textarea>
					</section>
				</section>
				<section> 
					<section data-markdown>
						<textarea data-markdown>
							<h1> <font size="8">Введение</font></h1>
							<h2> <font size="6" color="71557a"> Что вообще такое Angular? </font> </h2>	
							<p> <font size="5" color="4b1535">Angular — это открытый фреймворк для разработки веб-приложений (SPA — Single Page Applications), созданный Google. Он позволяет создавать динамические, высокопроизводительные клиентские приложения с использованием TypeScript (надмножества JavaScript).</font></p>					
							
						</textarea>
					</section>
				</section>
				<section> 
					<section data-markdown>
						<textarea data-markdown>
							<p> <font size="5" color="4b1535">
								Мощный фреймворк для создания сложных веб-приложений,
								 разработанный Google. Он предлагает готовую архитектуру с модулями, 
								 компонентами и сервисами, что делает его идеальным для больших проектов. 
								 Встроенные инструменты, HTTP-запросов и форм ускоряют разработку, 
								 а TypeScript обеспечивает надежность и удобство поддержки кода. 
								  Это не просто библиотека, а полноценная экосистема, 
								  которая берет на себя рутинные задачи, позволяя сосредоточиться на логике приложения. 
							</font></p>
							<img src="img/angularjs_logo.png">
						</textarea>
					</section>
					
					
				</section>

				<section>
					<section data-markdown>
						<textarea data-markdown>
							<h1> <font size="8">Ключевые отличия от React</font></h1>
							<img src="img/3-2.png">
						</textarea>
					</section>

					<section data-markdown>
						<textarea data-markdown>
							<h1> 
								<font size="8">1. Создание компонента</font>
							</h1>
							<h2><font size="6" color="71557a">Angular (Класс + декоратор):</font></h2>
							<h3><pre><code data-trim data-noescape>
								@Component({
									selector: 'app-hello',
									template: `<h1>Hello {{name}}!</h1>`
								  })
								  export class HelloComponent {
									name = 'Angular'; // Данные в классе
								  }
								</h3></code></pre>
								<h2> <font size="6" color="71557a"> React (Функция + JSX): </font> </h2>
								<h3><pre><code data-trim data-noescape>
									function Hello() {
										const [name] = useState('React'); // Данные через хук
										return <h1>Hello {name}!</h1>;
									}
								</h3></code></pre></script>
						</textarea>
					</section>

					<section>
						<h1><font size="8">2. Рендер списка</font></h1>
						
						<h2><font size="6" color="71557a">Angular (*ngFor):</font></h2>
						<h3><pre><code data-trim data-noescape>
						  &lt;ul&gt;
								&lt;li *ngFor="let item of items"&gt;{{item}}&lt;/li&gt;
						  &lt;/ul&gt;
						</h3></code></pre>
						
						<h2><font size="6" color="71557a">React (map):</font></h2>
						<h3><pre><code data-trim data-noescape>
						  function Hello() {
							const [name] = useState('React');
							return &lt;h1&gt;Hello {name}!&lt;/h1&gt;;
						  }
						</h3></code></pre>
					  </section>
						
					<section>
						<h1><font size="8">3. События</font></h1>
						
						<h2><font size="6" color="71557a">Angular (скобки):</font></h2>
						<h3><pre><code data-trim data-noescape>
						  &lt;button (click)="onClick()"&gt;Клик&lt;/button&gt;
						</code></pre></h3>
						
						<h2><font size="6" color="71557a">React (onPrefix):</font></h2>
						<h3><pre><code data-trim data-noescape>
							&lt;button onClick={onClick}&gt;Клик&lt;/button&gt;
						</code></pre></h3>
					  </section>

					<section>
						<h1>
							<font size="8">
								Главные различия
							</font>
						</h1>
						<ul class="spisok">
							<h2><font size="6" color="71557a"> Синтаксис </font></h2>
							<font size="5" color="4b1535"><li>Angular: HTML + TypeScript</li>
							<li>React: JSX (JavaScript + HTML)</li></font>

							<h2><font size="6" color="71557a">Архитектура</font></h2>
							<font size="5" color="4b1535"><li>Angular: "всё включено"</li>
							<li>React: "бери что нужно"</li></font>

							<h2><font size="6" color="71557a">Состояние</font></h2>
							<font size="5" color="4b1535"><li>Angular: свойства класса</li>
							<li>React: хуки (useState)</li></font>
						</ul>
					</section>

					<section>
						<h1><font size="8" color="3a345b">Итог</font></h1>
						<p><font size="5" color="4b1535">Angular — как промышленный фрезерный станок: 
							незаменим для сложных деталей, но для забивания гвоздей лучше взять молоток (React).</font></p>
					</section>
				</section>


				<section>
					<section>
						<h1> <font size="8">Преимущества Angular </font></h1>
						<p> <font size="5" color="4b1535">
							<h2>Преимущества</h2>
							<ul>
								<li> Полноценный фреймворк<br>
									- нет необходимости подключать сторонние 
									библиотеки для базовых задач </li>
								<li> Четкая архитектура <br>
									- обеспечивает структурированность, 
									предсказуемость и масштабируемость приложений</li>
								<li> Двустороннее связывание данных <br>
									- это механизм, при котором изменения в UI 
									автоматически синхронизируются с моделью данных и наоборот</li>
								<li> Инструменты разработчика<br>
									- Angular предоставляет мощный набор 
									инструментов для разработки, 
									отладки и оптимизации приложений.</li>
								<li> Производительность<br>
									- это способность фреймворка эффективно:

									обрабатывать изменения данных,
									
									рендерить интерфейс,
									
									управлять памятью,
									
									работать на слабых устройствах</li>
							</ul>
						</font></p>
					</section>
					<section>
						<h1> <font size="8">Недостатки Angular</font></h1>
						<p> <font size="5" color="4b1535">
							<h2>Angular так же имеет свои недостатки:</h2>
							<ul>
								<li> Высокий порог входа<br>
									-фреймворк требует значительной 
									подготовки перед началом эффективной разработки</li>
								<li> Раздутый бандл<br>
									-проблема избыточного размера итоговых 
									JavaScript-файлов после сборки проекта, 
									что ухудшает загрузку и производительность приложения.</li> 
								<li> Меньшая гибкость<br>
									- в Angular это выражается в жёстких архитектурных правилах, 
									ограниченных вариантах решений и в меньшей свободе в стиле кода</li>
								<li>Производительность в реальных приложениях<br>
									- в реальных проектах производительность Angular 
									зависит от правильной настройки и оптимизации</li>
								<li>Оверкилл для мелких проектов<br>
									- архитектура Angular избыточна для небольших приложений. Причина тому: большой стартовый вес,
									сложная архитектура для простых задач, медленная разработка</li>
							</ul>
						</font></p>
					</section>
				</section>
								  
					
				</section>
				<section>
					<h1> <font size="8">Заключение</font></h1>
						<p> <font size="5" color="4b1535">
							Angular зарекомендовал себя как надежный фреймворк для создания сложных веб-приложений,
							использование TypeScript обеспечивает статическую типизацию, что значительно снижает количество runtime-ошибок.<br>
							<br>
							Фреймворк особенно хорошо подходит для корпоративных проектов, где важны долгосрочная поддержка и четкая организация кода.<br>
							<br>
							Несмотря на более высокий порог входа по сравнению с другими технологиями, 
							Angular остается отличным выбором для командной разработки. 
							Его постоянное развитие и регулярные обновления делают фреймворк 
							современным и конкурентоспособным инструментом в мире frontend-разработки.
						</font></p>
				</section>
				<section>
					<h1><font size="8">Спасибо за внимание</font></h1>
					<img src="img/2.gif">
				</section>
				  
			</div>		
		</div>
		
		  
		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>
			
			Reveal.initialize({
				hash: true,
				progress: true, 

				
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
